@font-face {
    font-family: 'Andika'; 
    src: url('./Fonts/Andika-R.ttf') format('truetype'); 
  }
.andika{
    font-family:'Andika, sans-serif';
}
body {
  font-family: 'Andika', sans-serif;
}
  @font-face {
    font-family: 'Lobster'; 
    src: url('./Fonts/LobsterTwo-Bold.ttf') format('truetype'); 
  }

  .lobster{
    font-family: 'Lobster, Andika, sans-serif';
  }
#root {
    background-color: #f3d9d0;
    font-family: 'Andika';
    min-height: 100vh;
}

#error-page {
    background-image: url(../assets/Images/404-page-Basil.png);
    min-height: 100vh;
    background-color: #000000;
}

.errorBox {
    display: block;
    padding: 7rem;

}
.errorBox > h1{
    font-family: 'Lobster2';
    font-size: 6rem;
    color: #3c5318 ;
}
.errorBox > i{
   padding-left: 10rem;
   padding: bottom 10px;
    font-size: 3rem;
    color:#902b68  ;
}
.errorBox > strong{
    display: flex;
    font-size: 3rem;
    color: #3c5318 ;
    padding-top: 25px;
    padding-left:10rem ;
}