@font-face {
    font-family: 'Andika';
    src: url('./Fonts/Andika-R.ttf') format('truetype'),
}
@font-face {
    font-family: 'Amatic-R';
    src: url('./Fonts/AmaticSC-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Lobster2';
    src: url(../assets/Fonts/LobsterTwo-Bold.ttf) format('truetype'),
}

.basil {
    font-size: 2rem;
    font-family: 'Lobster2';

}
.header {
    padding: 50px;
    padding-top: 50px;
    background-image: url('./Images/BasilHeader.png');
    max-width: 100%;
    height: fill;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.headerText {
    display: flex;
    justify-content: center;
    font-size: 12rem;
    font-family: 'Lobster2';
    color:#3c5318;
    padding-bottom: 2rem;
}


#root{
    background-color: #FFFDD0;  
    font-family: 'andika';
    min-height: 100vh;
   }

  